:root {
    /* color */
    --iris-color: #4d5ae5;
    --main-cl: #2e2f42;
    --secondary-cl: #434455;
    --main-hover-cl: #404bbf;
    --white-cl: #ffffff;
    --cloud-cl: #f4f4fd;
    
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-cl);
    background-color: var(--white-cl);
    
}

ul,
ol {
    list-style: none;
}

a {
    font-style: normal;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--iris-color);
}

.main-logo-span {
color: var(--main-cl);
}

.small-font {
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--secondary-cl);
}

.title-bold {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--main-cl);
}

.title-medium {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;
        color: var(--main-cl);
}

/* ===================== HEADER STYLES ===================== */

.menu-link {
        font-weight: 500;
        line-height: 1.50;
        letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
color: var(--main-hover-cl);
}

.address-menu-link:hover,
.address-menu-link:focus {
    color: var(--main-hover-cl);
}

/* ===================== HERO STYLES ===================== */

.page-hero {
    background-color: var(--main-cl);
}

.hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
        color: var(--white-cl);
}

.hero-btn {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.04em;
        color: var(--white-cl);
        background-color: var(--iris-color);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--main-hover-cl);
}

/* ===================== FEATURE STYLES ===================== */

/* ===================== TEAM STYLES ===================== */

.page-team{
background-color: var(--cloud-cl);
}

.team-second-title {
    text-align: center;
}

.team-txt {
    text-align: center;
}

/* ===================== PORTFOLIO STYLES ===================== */

/* ===================== FOOTER STYLES ===================== */

.page-footer {
    background-color: var(--main-cl);
}

.footer-txt {
    color: var(--cloud-cl);
}